.menu-aside {
  position: fixed;
  bottom: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

/* .menu-aside .show {
  visibility: visible;
} */

.menu-nav {
  background-color: var(--kg-bg-primary);
  padding: 4rem 2rem;
  border-radius: 8px;
  max-width: 200px;
  width: 100%;
}

.menu-list {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

.menu-item {
  margin-bottom: 2rem;
}

.menu-link {
  color:var(--kg-bg-dark);
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-link:hover {
  color: var(--kg-bg-terciary);
}